/*
    @author: Kamal Sharif

    @createdAt: 3.3.2017
    @lastModified: 3.3.2017
    @modifiedBy: Kamal Sharif

    @fileName: utils.css
    @filePath: ./src/stylesheet/utils/utils.css
*/

/*
    utility classes goes here
*/